$site_max_width = 1200px
$masonry_gutter_size = 10px
$masonry_entry_width = $site_max_width / 3

mason_width( $columns )
	( $masonry_entry_width * $columns )



//-----------------------------------*/
// Masonry Entries
//-----------------------------------*/
.PP_Masonry
	margin-left: - $masonry_gutter_size
	calc_add(100%, $masonry_gutter_size*2)
	opacity: 1
	transition: opacity 500ms ease

	.js &:not(.PP_JS__loading_complete)
		opacity: 0
		visibility: hidden


	
	&__sizer, &__item
		outline: 0
		width: 33.333%

		//-----------------------------------*/
		// Tiny Screen columns
		//-----------------------------------*/
		@media $portable
			width: 50%

		@media $palm
			width: 100%
			max-width: 640px
			margin-left: auto
			margin-right: auto


.PP_Masonry__item
	border: $masonry_gutter_size solid transparent
	position: relative

	a, img
		display: block

	@media $palm
		border-width: 0px
		margin-bottom: $p

.PP_Masonry__header
		margin-top: $p
		margin-bottom: $p - 0.35rem
