$site_max_width = 1200px
$masonry_gutter_size = 9px
$masonry_entry_width = $site_max_width / 3

mason_width( $columns )
	( $masonry_entry_width * $columns )



//-----------------------------------*/
// Masonry Entries
//-----------------------------------*/
.PP_Masonry
	margin: $masonry_gutter_size
	calc_sub(100%, $masonry_gutter_size*2)

	&__thumbnail > img
		display: block
		max-width: 100%
		padding: 0
		margin: 0

	&__item, &__sizer
		outline: 0
		width: 33.333%
		cursor: pointer

		//-----------------------------------*/
		// Tiny Screen columns
		//-----------------------------------*/
		@media $portable
			width: 50%

		@media $palm
			width: 100%
			max-width: 640px
			margin-left: auto
			margin-right: auto


	&__item
		border: $masonry_gutter_size solid transparent
		position: relative

		@media $palm
			border-width: 0px
			margin-bottom: $p/2


	&__header
			margin-top: $p
			margin-bottom: $p - 0.35rem
