// ------------------------
//   Configuration, Functions, Libs
// ------------------------

@require "_includes/_config.styl"
@require "_includes/_config_layers.styl"

@require "_includes/layer_mixin.styl"
@require "_includes/_media.styl"
@require "_includes/_functions.styl"
@require "_includes/basic_reset.styl"

// ------------------------
//   Styles
// ------------------------

@require "base/*"
@require "archive/*"
@require "single/*"
@require "plugins/*"

/**
Hopefully a temporary fix for Twenty Seventeen Theme.
Twenty Seventeen Version 1.0.0 force displays thumbnails on all post types in the header without any filters.
The only option left is to hide thumbnail with CSS.
*/
.PP_Single .single-featured-image-header
	display: none