.PP_Description
	width: 75%
	max-width: 681px
	margin-left: auto
	margin-right: auto

	&__title, &__subtitle
		text-align: center
		margin-bottom: $p

	&__subtitle
		display: block
		text-transform: none
		font-size: 1.125rem
		font-weight: 400

	&__content
		margin-top: 3rem
		margin-bottom: 3rem

