$small_palm = "screen and (max-width: 481px)"
$header_break = "screen and (max-width: 581px)"
$large_palm = "screen and (max-width: 801px)"
$palm = "screen and (max-width: 640px)"
$lap = "screen and (min-width: 641px)"
$portable = "screen and (max-width: 1024px)"
$desk = "screen and (min-width: 1025px)"
$huge = "screen and (min-width: 1401px)"
$iMac = "screen and (min-width: 2560px)"
$tall = "screen and (min-height: 561px)"
$only_portable = "screen and #{$lap} and #{$portable}"
