.PP_Portfolio .lg-outer
	layer(lightGallery)

	.lg-thumb-item
		border-radius: 0
		border-color: transparent

	.lg-thumb-item.active, .lg-thumb-item:hover
		border-color: #f9f9f9

	.lg-thumb
		margin-left: auto
		margin-right: auto