.PP_Card
// ------------------------
//    Base Styles
// ------------------------
	cursor: pointer
	position: relative

	&, a
		color: white
		text-shadow: 0px .03em .05em transparentize(black, 0.33)

	a:hover
		text-decoration: none
		color: white


/*!
*   Hover State
*/
.PP_Card--hoverable
	&:hover, PP_Entry__more:hover

		.PP_Entry__header
			z-index: 550
			transform: translateY(-3rem)

		.PP_Entry__inner
			opacity: 1
			transform: translateY(0)

		.PP_Entry__more
			display: block
			opacity: 1

