.PP_Gallery
	&__item
		position: relative

	&__caption
		font-size: 1rem
		padding: .44rem
		display: block
		text-align: center
		width: 100%
		margin-bottom: $tiny


.PP_Gallery__item--video
	position: relative

	&:before, &:after
		content: ' '
		display: block
		z-index: 500
		position: absolute
		pionter-events: none

	&:before
		background-color: transparentify(black, 0.22)
		width: 100%
		height: 100%

	&:after
		left: 50%
		top: 50%
		width: 0
		height: 0
		border-style: solid
		border-width: 30px 0 30px 50px
		border-color: transparent transparent transparent transparentify(white, 0.94)
		transform: translate(-50%, -50%)



