transparentize(args...)
	transparentify(args)


balc(size, add = 0)
	"calc(100% + %s)" % (add)

calc_sub(width, subtract)
	width: 100%
	width: "calc(100% - %s)" % (subtract)

calc_add(width, subtract)
	width: 100%
	width: "calc(100% + %s)" % (subtract)